

input[type=button] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  background: #df98a0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=button]:hover{
  background: #12b36885;
  text-decoration: none;
}

